## 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# Settings
warnings.filterwarnings('ignore')
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette('husl')
%matplotlib inline

print('‚úÖ Libraries imported successfully!')

‚úÖ Libraries imported successfully!

## 2. Load Dataset

In [2]:
# Load the dataset
df = pd.read_csv('../data/Sample - Superstore.csv', encoding='latin1')

print('‚úÖ Dataset loaded successfully!')
print(f'üìä Dataset shape: {df.shape[0]} rows, {df.shape[1]} columns')

‚úÖ Dataset loaded successfully!
üìä Dataset shape: 9994 rows, 21 columns

## 3. Initial Data Inspection

In [3]:
# Display first few rows
print('üìã First 5 rows of the dataset:\n')
df.head()

üìã First 5 rows of the dataset:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
# Display last few rows
print('üìã Last 5 rows of the dataset:\n')
df.tail()

üìã Last 5 rows of the dataset:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [5]:
# Column names
print('üìù Column names:\n')
print(df.columns.tolist())

üìù Column names:

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

## 4. Data Types and Info

In [6]:
# Dataset info
print('‚ÑπÔ∏è Dataset Information:\n')
df.info()

‚ÑπÔ∏è Dataset Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [7]:
# Data types
print('üî¢ Data types of each column:\n')
df.dtypes

üî¢ Data types of each column:

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

## 5. Missing Values Analysis

In [8]:
# Check for missing values
print('‚ùì Missing values per column:\n')
missing_values = df.isnull().sum()
missing_percent = (df.isnull().sum() / len(df)) * 100

missing_df = pd.DataFrame({
    'Missing Count': missing_values,
    'Percentage': missing_percent
})

missing_df[missing_df['Missing Count'] > 0].sort_values('Missing Count', ascending=False)

‚ùì Missing values per column:

Empty DataFrame
Columns: [Missing Count, Percentage]
Index: []

In [9]:
# Visualize missing values
if df.isnull().sum().sum() > 0:
    plt.figure(figsize=(12, 6))
    missing_data = df.isnull().sum()
    missing_data = missing_data[missing_data > 0].sort_values(ascending=False)
    missing_data.plot(kind='bar', color='coral')
    plt.title('Missing Values by Column', fontsize=14, fontweight='bold')
    plt.xlabel('Columns')
    plt.ylabel('Number of Missing Values')
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()
else:
    print('‚úÖ No missing values found in the dataset!')

‚úÖ No missing values found in the dataset!

## 6. Statistical Summary

In [10]:
# Summary statistics for numerical columns
print('üìä Statistical Summary (Numerical Columns):\n')
df.describe()

üìä Statistical Summary (Numerical Columns):

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [11]:
# Summary statistics for categorical columns
print('üìä Statistical Summary (Categorical Columns):\n')
df.describe(include='object')

üìä Statistical Summary (Categorical Columns):

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
count,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994
unique,5009,1237,1334,4,793,793,3,1,531,49,4,1862,3,17,1850
top,CA-2017-100111,9/5/2016,12/16/2015,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope
freq,14,38,35,5968,37,37,5191,9994,915,2001,3203,19,6026,1523,48

## 7. Duplicate Records Check

In [12]:
# Check for duplicates
duplicates = df.duplicated().sum()
print(f'üîÑ Number of duplicate rows: {duplicates}')
print(f'üìä Percentage of duplicates: {(duplicates/len(df))*100:.2f}%')

if duplicates > 0:
    print('\n‚ö†Ô∏è Warning: Duplicates found. Will need to handle in cleaning phase.')
else:
    print('\n‚úÖ No duplicate rows found!')

üîÑ Number of duplicate rows: 0
üìä Percentage of duplicates: 0.00%

‚úÖ No duplicate rows found!

## 8. Unique Values Analysis

In [13]:
# Check unique values for each column
print('üîç Unique values per column:\n')
unique_counts = pd.DataFrame({
    'Column': df.columns,
    'Unique Values': [df[col].nunique() for col in df.columns],
    'Sample Values': [df[col].unique()[:3].tolist() for col in df.columns]
})

unique_counts

üîç Unique values per column:

,Column,Unique Values,Sample Values
0,Row ID,9994,"[1, 2, 3]"
1,Order ID,5009,"[CA-2016-152156, CA-2016-138688, US-2015-108966]"
2,Order Date,1237,"[11/8/2016, 6/12/2016, 10/11/2015]"
3,Ship Date,1334,"[11/11/2016, 6/16/2016, 10/18/2015]"
4,Ship Mode,4,"[Second Class, Standard Class, First Class]"
5,Customer ID,793,"[CG-12520, DV-13045, SO-20335]"
6,Customer Name,793,"[Claire Gute, Darrin Van Huff, Sean O'Donnell]"
7,Segment,3,"[Consumer, Corporate, Home Office]"
8,Country,1,[United States]
9,City,531,"[Henderson, Los Angeles, Fort Lauderdale]"
10,State,49,"[Kentucky, California, Florida]"
11,Postal Code,631,"[42420, 90036, 33311]"
12,Region,4,"[South, West, Central]"
13,Product ID,1862,"[FUR-BO-10001798, FUR-CH-10000454, OFF-LA-1000..."
14,Category,3,"[Furniture, Office Supplies, Technology]"
15,Sub-Category,17,"[Bookcases, Chairs, Labels]"
16,Product Name,1850,"[Bush Somerset Collection Bookcase, Hon Deluxe..."
17,Sales,5825,"[261.96, 731.94, 14.62]"
18,Quantity,14,"[2, 3, 5]"
19,Discount,12,"[0.0, 0.45, 0.2]"
20,Profit,7287,"[41.9136, 219.582, 6.8714]"

## 9. Key Findings Summary

### Dataset Overview:
- **Total Records:** [To be filled after running]
- **Total Features:** [To be filled after running]
- **Time Period:** [To be filled after running]

### Data Quality:
- **Missing Values:** [To be filled after running]
- **Duplicates:** [To be filled after running]
- **Data Types:** [To be filled after running]

### Next Steps:
1. Data Cleaning (handle missing values, duplicates)
2. Date conversion and sorting
3. Feature engineering
4. Exploratory Data Analysis (EDA)